body{
    background-color: grey;
}
.slide-btn{
    position: absolute;
    top: 45%;
    padding-bottom: 8px;
    opacity: 0.6;
    width: 24%;
    z-index: 100;
    &.right{
        right:0
    }
}
.container{
    background-color: white;
}
.container-slider{
    background-color:black;
    padding: 0 !important; 
    overflow: hidden;
    max-height: 80vh;
    .wrapper{
        overflow: hidden;
         .slide{
            right: 100%;
            transition-timing-function: ease-in-out;
            position: relative;
            // max-height: 80vh;
        }
    }
}
.hidden{
    transition:  0.5s;
    // right: 100% !important;
    transform: translateX(-100%);
    opacity: 0;
    max-height: 0px;
}
.show{
    // animation-name: slideIn;
    transition:  0.5s;
    // right: 0 !important;
    transform: translateX(100%);
    max-height: 80vh;
}
.sliders-select{
    width: 100%;
    height: 25px;
    position: relative;
    bottom: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    .btn-select-sld{
        width: 10px;
        height: 10px;
        background-color: rgba (0,0,0, .5);
        border-radius: 25px;
        margin-right: 10px;
    }
}
.sld-progress-bar{
    top: 0;
    position: absolute;
    width: 100%;
    border-radius: 0;
    height: 4px;
}

.box-1{
    background-color: #343a40;
    height: 75px;
    padding: 5px;
    img{
        height: 65px;
        margin-left: 15px;
    }
}
.box-3{
    padding:5px;
    padding-right: 0;
    div{
        border: 1px solid;
        border-color: #ccc6c6;;
        border-radius: 3px;
        padding: 5px;
    }
    img{
        width: 100%;
    }
    .title{
        color: grey;
    }
}
.box-4{
    padding: 5px;
    height: 270px;
    img{
        width: 100%;
    }
}
.box-5{
    height: 270px;
    color: grey;
    font-size: 15px;
    padding: 5px;
    .text{
        line-height: 1.25;
        background-color: #e8eef5;
        min-height: 258px;
        padding: 10px;
        text-align: justify;
    }
}
.box-6{
    padding: 5px;
    padding-top: 0;
    img{
        width:100%;
    }
}
.box-7, .box-8{
    padding-top: 0;
    color: grey;
    font-size: 18px;
    text-align: center;
    padding: 10px;
    line-height: 1.25;
    div{
        text-align: right;
    }
}
.box-9{
    padding: 6px;
    padding-top: 0;
    img{
        width: 100%;
        float:right;
    }
}
.box-10{
    height: 50px;
    padding: 5px;
    text-align: right;
    background-color: #141414;
    font-size: 20px;
    a{
        color:white;
        text-decoration: none;
    }
}
.email:hover{
    cursor: pointer;
    color: #b1b1b1;
    fill: #b1b1b1;
}
.youtube:hover{
    cursor: pointer;
    color: #cc0000;
    fill: #cc0000;
}
.instagram:hover {
    cursor: pointer;
    display: inline-block;
    text-align: center;
    border-radius: 10px;
    color: #fff;
    font-size: 220px;
    line-height: 250px;
    vertical-align: middle;
    background: #d6249f;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    box-shadow: 0px 3px 10px rgba(0,0,0,.25);
}
.facebook:hover{
    cursor: pointer;
    color: #4267b2;
    fill: #4267b2;
}
.margin-r-10px{
    margin-right: 10px; 
}
@media (max-width: 400px){
    .box-5{
        min-height:290px;
    }
}

@media (max-width: 720px){
    .box-4{
        height: 230px;
    }
    .box-7, .box-8{
        font-size: 15px;
    }
    .box-9{
        padding-top:15px;
    }
    .mobile-hidden {
        display: none;
    }
    .container {
        max-width: 100%;
    }
    .box-3{
        padding-right:5px;

        div{
            border: 1px solid;
            border-color: #ccc6c6;;
            border-radius: 3px;
            padding: 10px;
            display: flex;
            justify-content: space-between;
            align-items: stretch;
        }
        img{
            width: 33%;
            float: right;
        }
    }
}
